<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Gestionar Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="ion-margin-bottom">
    <ion-input 
      [(ngModel)]="newCategoryName" 
      placeholder="Nueva categoría..." 
      (keyup.enter)="addCategory()">
    </ion-input>
    <ion-button color="success" (click)="addCategory()" [disabled]="!newCategoryName.trim()">
      <ion-icon name="add"></ion-icon>
      <span>Agregar</span>
    </ion-button>
  </ion-item>

  <ion-list>
      <ion-item *ngFor="let cat of categories$ | async">
        <ion-label>{{ cat.name }}</ion-label>
        <ion-button slot="end" color="medium" (click)="editCategory(cat)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button slot="end"  color="danger" (click)="deleteCategory(cat)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
   
  </ion-list>
</ion-content>