<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> ToDo List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ToDo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="secondary" (click)="openCategoryModal()" >
    <ion-icon name="add-circle-outline"></ion-icon>
    <span>Agregar Categoria</span>
  </ion-button>

  <div id="container">
      <ion-title>Agregar Tarea</ion-title>
      <ion-item>
        <ion-input placeholder="Nombre tarea" [(ngModel)]="taskName"></ion-input>
      </ion-item>
      <ion-button  color="success" [disabled]="!taskName.trim()" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
        <span>Agregar</span>
      </ion-button>

    <div>
      <ion-list lines="full">
        <ion-list-header>
         <ion-title>Mis tareas</ion-title>
        </ion-list-header>
          @for(task of taskList; track task.name){
          <ion-item class="task-item {{task.completed ? 'completed' : ''}}">
            <ion-checkbox class="{{task.completed ? 'completed' : ''}}" (ionChange)="toggleTaskCompletion(task, $event)" [checked]="task.completed"></ion-checkbox>
            <ion-label>{{task.name}}</ion-label>
            <ion-button (click)="deleteTask(task)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
              <span>Eliminar</span>
            </ion-button>
          </ion-item>
    
          }@empty{
          <ion-item>
            <ion-label>no tienes tareas agregadas!</ion-label>
          </ion-item>
          }

      </ion-list>
    </div>
  </div>
</ion-content>
